* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #0093AB;
    color: white;
}

#cart-list + div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cart-list + div p {
    margin-bottom: 0;
}

#cart-list + div button {
    margin-left: 10px;
}

#cart-list + div button img {
    width: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr .5fr;
    padding: 0;
    height: 100px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

.cart-item div {
    overflow: hidden;
}

.cart-item img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.cart-item div:nth-child(2) {
    margin-bottom: inherit;
    padding: 5px 30px;
}

.cart-item div:nth-child(2) p:first-child {
    opacity: .5;
}

.cart-item div:nth-child(2) + p, .cart-item div:nth-child(2) + p + p {
    margin: auto;
}

.cart-item div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-default {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    font-weight: 800;
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-price {
    text-align: end;
}

.btn-success {
    width: 100px;
    height: 50px;
}