* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #0093AB;
    color: white;
}

#restaurant-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.restaurant-item {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 2rem;
    height: 175px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.restaurant-item img {
    transition: 300ms ease;
}

.restaurant-item:hover img {
    transform: rotate(2deg);
}

.restaurant-item:not(:hover) img {
    transform: rotate(-2deg);
}

.restaurant-item img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.restaurant-item p:last-child {
    text-align: center;
}

.restaurant-item div div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.restaurant-item div div p:first-child {
    background-color: #EA5C2B;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn-info {
    text-decoration: none;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}